/**
* @file ember.css
* @author Dean Mclaughlin, github.com/dtmcode emberthemes.net
* @description EmberCSS is a small, beautiful set of components that sit on top of bootstrap.
*/


body {
  font-family: lato;
}

 /**
  * Page load pacer
  */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}


 /**
  * Ember Navbar
  */

.navbar-color {
  border-bottom: 0px;
  padding: 20px 0;
  margin-bottom: 0px;
}

.navbar-color .navbar-nav>li>a,
.navbar-color a.navbar-brand {
  color: rgba(255,255,255,0.6);
  font-weight: 700;
}

.navbar-color .navbar-nav>li>a {
  padding-top: 19px;
  padding-bottom: 19px;
}
.navbar-brand>img {
    height: 20px!important;
}
 /**
  * Ember Hero
  */

.hero {
  padding: 130px 0px 180px 0px;
  text-align: center;
}

.hero h2 {
  font-weight: 700;
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: rgba(255,255,255,0.6);
  margin-top: 20px;
  margin-bottom: 40px;
}

.hero input#ember-form {
    border-radius: 210px;
    width: 200px;
    padding: 23px;
    margin-right: 15px;
    border: 4px solid #FFFFFF;
    box-shadow: none;
}
.hero select#ember-form {
    border-radius: 210px;
    width: 200px;
    height: 53px;
    margin-right: 15px;
    border: 4px solid #FFFFFF;
    box-shadow: none;
}
 /**
  * Ember Buttons
  */

.hero .buttons .btn {
  padding: 15px 40px;
  margin: 0 10px;
}

.btn-round {
  border-radius: 210px;
}

.btn-yellow {
  color: #9C8431;
  background-color: #FFDD67;
}

.btn-yellow:hover, .btn-yellow:focus {
  color: #826D27;
  background-color: #E8C858;
}

.btn-red {
  color: #FFFFFF;
  background-color: #D22B23;
}

.btn-red:hover, .btn-red:focus {
  color: #FFFFFF;
  background-color: #B32018;
}

.btn-outline {
  color: rgba(255,255,255,0.7);
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.3);
}

.btn-outline:hover, .btn-outline:focus {
  color: #111;
  background-color: #ffffff;
}

 /**
  * Ember Iconic Features
  */

.feature-head {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 50px;
}
.feature-head h2 {
    font-size: 42px;
    font-weight: 600;
}
.feature-head p {
    color: #577084;
    font-size: 16px;
}
.icon-feature {
    padding: 0 0 0 90px;
    position: relative;
    margin-bottom: 30px;
}
.icon-feature .icon {
    position: absolute;
    top: 0;
}
.icon-feature .icon i {
    color: #155499;
    font-size: 50px;
}
.icon-feature h3 {
    color: #3e4552;
}
.icon-feature p {
    color: #577084;
    font-size: 16px;
}
.ember-currency {
padding: 20px;
}

 /**
  * Footer
  */

div#footer {
    padding: 40px 0;
    font-size: 16px;
    color: #736E6E;
    background: #FAFAFA;
}
 /**
  * Bitcoin Calculator specifics
  */


.circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    line-height: 66px;
    text-align: center;
    font-weight: 700;
    background: #F29B34;
    margin-left: -90px;
    border: 3px solid #C78332;
}
section#currencies {
    padding: 80px 0;
}


@media only screen and (max-width: 480px) and (min-width: 0px) {
.navbar-inverse .navbar-toggle {
    border-color: #155499;
}
.hero {
    padding: 30px 0px 30px 0px;
}
.hero h2 {
    font-size: 32px;
}
.input-group {
    width: 100%;
}
.hero input#ember-form {
    width: 100%;
    margin-bottom: 20px;
}
.hero select#ember-form {
    width: 100%;
    margin-bottom: 20px;
}
}
